.form {
  background-image: url("../../public/assets/bg-img.PNG");
  background-position: center;
  background-size: cover;
}

.form__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
